name: Push Dataset and Finetune

on:
  push:
    branches:
      - "dev"

jobs:
  prepare-dataset:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies for conversion to parquet
        run: |
          sudo apt-get install python3-pandas
          pip install pandas
          pip install pyarrow

      - name: Convert json to parquet
        run: |
          python3 parquet_dataset_generator.py

      - name: Install dependencies to push to huggingface
        run: |
          pip install datasets huggingface-hub

      - name: Push to huggingface
        run: |
          datasets-cli login --token ${{ secrets.HF_TOKEN }}
          datasets-cli upload ./internal_dataset.parquet getwithashish/internal-dept-dataset

  # finetune:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v2

  #     - name: Set up Python
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: '3.10'

  #     - name: Install dependencies
  #       run: |
  #         pip install papermill

  #     - name: Execute Notebook
  #       run: |
  #         papermill path/to/your/notebook.ipynb path/to/your/output-notebook.ipynb
